[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
argparsedirs = "*"
astropy = "*"
dotmap = "*"
flake8 = "*"
lxml = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
physics-fields = "*"
pyqt6 = "*"
pytest = "*"
pyyaml = "*"
scipy = "*"
pyqt6-tools = "*"

[dev-packages]

[requires]
python_version = "3.11"
