[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
dotmap = "*"
argparse = "*"
argparsedirs = "*"
physics-fields = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
pyqt6 = "*"
astropy = "*"
lxml = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.11"
